extends layouts/_layout.jade

block content
	.page-title
		div
			h1
				i.fa.fa-archive
				|  Widgets
			p Small widgets to interactively displaying data

		div
			ul.breadcrumb
				li
					i.fa.fa-home.fa-lg
				li
					| UI
				li
					a(href='#') Widgets

	.row
		.col-md-3
			.widget-small.primary
				i.icon.fa.fa-users.fa-3x
				div.info
					h4 Users
					p 
						b 5

		.col-md-3
			.widget-small.info
				i.icon.fa.fa-thumbs-o-up.fa-3x
				div.info
					h4 Likes
					p 
						b 25

		.col-md-3
			.widget-small.warning
				i.icon.fa.fa-files-o.fa-3x
				div.info
					h4 Uploades
					p 
						b 10

		.col-md-3
			.widget-small.danger
				i.icon.fa.fa-star.fa-3x
				div.info
					h4 Stars
					p 
						b 500

	.row
		.col-md-3
			.widget-small.primary.coloured-icon
				i.icon.fa.fa-users.fa-3x
				div.info
					h4 Users
					p 
						b 5

		.col-md-3
			.widget-small.info.coloured-icon
				i.icon.fa.fa-thumbs-o-up.fa-3x
				div.info
					h4 Likes
					p 
						b 25

		.col-md-3
			.widget-small.warning.coloured-icon
				i.icon.fa.fa-files-o.fa-3x
				div.info
					h4 Uploades
					p 
						b 10

		.col-md-3
			.widget-small.danger.coloured-icon
				i.icon.fa.fa-star.fa-3x
				div.info
					h4 Stars
					p 
						b 500

